<a href="https://colab.research.google.com/github/EnzoSH/Introduction-to-Computer/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i=range(5)

In [2]:
print(type(i))

<class 'range'>

In [3]:
print(i)

range(0, 5)

In [4]:
print(list(i))

[0, 1, 2, 3, 4]

In [5]:
a=range(3, 8)
print(list(a))

[3, 4, 5, 6, 7]

In [6]:
b=range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [7]:
c=range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [8]:
d=range(3,8,2)
print(list(d))

[3, 5, 7]

In [11]:
e=range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [16]:
f=range(9)
g=range(1,10)
h=range(1,10,2)
i=range(10,1,-2)
print(list(f))
print(list(g))
print(list(h))
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [17]:
for n in range(3):
  print(n)

0
1
2

In [18]:
for n in range(10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [22]:
for n in range(0,10,2):
  print(n)

0
2
4
6
8

In [26]:
j=int(input("請輸入一個正整數"))
k=range(j)
print(list(k))

請輸入一個正整數45
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [34]:
sum=0
for n in range(3):
 sum=sum+n
print(sum)

3

In [39]:
sum=0
for n in range(10,1,-2):
 sum=sum+n
print(sum)

30

In [46]:
j=int(input("請輸入一個正整數"))
sum=j
for n in range(j):
 sum=sum+n
print("1到",j,"的整數和為",sum)

請輸入一個正整數50
1到 50 的整數和為 1275

In [3]:
k = int(input('請輸入正整數'))      
sum = 0                     
for i in range(1,k+1):
    sum+= i                 
    print("1到",i,"的整數合為:",sum)

請輸入正整數10
1到 1 的整數合為: 1
1到 2 的整數合為: 3
1到 3 的整數合為: 6
1到 4 的整數合為: 10
1到 5 的整數合為: 15
1到 6 的整數合為: 21
1到 7 的整數合為: 28
1到 8 的整數合為: 36
1到 9 的整數合為: 45
1到 10 的整數合為: 55